* {
    padding: 0;
    margin: 0;
  }
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  }
  
  h1 {
    text-align: center;
    color: #0074d9;
    padding: 20px 0;
  }
  
  table {
    max-width: 100%; /* Expanding the width to 100% */
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-collapse: collapse;
  }
  
  th {
    background-color: #0074d9;
    color: #fff;
    text-align: left;
    padding: 10px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  td a {
    text-decoration: none;
    color: #0074d9;
  }
  
  td a:hover {
    text-decoration: underline;
  }
  
  td:nth-child(3),
  td:nth-child(4) {
    text-align: center;
  }
  
  td:nth-child(3) {
    background-color: #eff7ff;
  }
  
  td:nth-child(4) {
    background-color: #ffeff1;
  }
  