<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/HomePage.css" />
    <link rel="stylesheet" href="../CSS/Navbar.css" />
    <title>My Homepage</title>
</head>
<body>
    <header>
        <nav class="navbar" >
            <a class="navbrand" href="./HomePage.html">LeetCode</a>
            <ul class="navmenu">
                <li><a href="./HomePage.html">Home</a></li>
                <li><a href="./Questions.html">Questions</a></li>
                <li><a href="./Selection.html"> Selection</s></a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="home">
            <div class="home__container container">
                <div class="home__data">
                    <h1 class="home__title">
                        A New Way to
                        <span>Learn</span>
                    </h1>
                    <p class="home__description">
                        LeetCode is the best platform to help you enhance your skills, expand your 
                        <br />
                        knowledge and prepare for technical interviews.
                    </p>
                    <a href="./Registration.html" class="home__button">
                        Create Accounr
                    </a>
                </div>
                <div class="home__toddynho-animate">
                    <img src="../Images/img/Homepad.png" alt="toddynho image" class="home__toddynho" />
                </div>
            </div>
        </section>
    </main>

</body>
</html>
