<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website with Login and Registration Form | CodingNepal</title>
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <link rel="stylesheet" href="../CSS/Registration.css">
</head>
<body>
    <header>
        <nav class="navbar" >
            <a class="navbrand" href="#">LeetCode</a>
            <ul class="navmenu">
                <li><a href="./HomePage.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="./Selection.html">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="text">
              Registration Form
            </div>
            <form >
               <div class="form-row">
                  <div class="input-data">
                     <input type="text" required>
                     <div class="underline"></div>
                     <label for="">First Name</label>
                  </div>
                  <div class="input-data">
                     <input type="text" required>
                     <div class="underline"></div>
                     <label for="">Last Name</label>
                  </div>
               </div>
               <div class="form-row">
                  <div class="input-data">
                     <input type="text" required>
                     <div class="underline"></div>
                     <label for="">Email Address</label>
                  </div>
                  <div class="input-data">
                     <input type="text" required>
                     <div class="underline"></div>
                     <label for="">Website Name</label>
                  </div>
               </div>
               <div class="form-row">
               <div class="input-data textarea">
                  <textarea rows="8" cols="80" required></textarea>
                  <br />
                  <div class="underline"></div>
                  <label for="">Write your message</label>
                  <br />
                  <div class="form-row submit-btn">
                     <div class="input-data">
                        <div class="inner"></div>
                       <a href="./Selection.html"> <input type="submit" value="submit"> </a>
                     </div>
                  </div>
            </form>
            </div>
    </section>
</body>
</html>