<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/Selection.css">
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <title>Document</title>
  </head>
  <body>
    <header>
        <nav class="navbar" >
            <a class="navbrand" href="#">LeetCode</a>
            <ul class="navmenu">
                <li><a href="./HomePage.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="./Questions.html">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <input type="text" id="searchInput" placeholder="Search Companies" oninput="searchCompanies()">
        <table border="1">
          <tr>
    <table border = "1" >
      <tr>
        <th>Company Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><a href="./Questions.html"> Microsoft </a></td>
        <td >
          Microsoft is a multinational technology company known for its Windows
          operating system, Microsoft Office suite, cloud computing platform
          Azure, and other software products and services.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Apple Inc. </a></td>
        <td>
          Apple Inc. is a leading technology company renowned for its consumer
          electronics, including the iPhone, iPad, Mac computers, and the iOS
          operating system.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Google</a></td>
        <td>
          Google is a global technology company recognized for its search
          engine, online advertising, cloud computing services, Android
          operating system, and numerous web-based applications.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Adobe Inc.</a></td>
        <td>
          Adobe Inc. is well-known for its multimedia and creativity software,
          including Adobe Photoshop, Adobe Illustrator, Adobe Premiere Pro, and
          the Adobe Creative Cloud suite.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Oracle Corporation</a></td>
        <td>
          Oracle Corporation is a major provider of database management systems,
          enterprise software, cloud infrastructure, and various business
          applications for organizations.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">IBM</a></td>
        <td>
          IBM is a global technology company offering a wide range of products
          and services, including hardware, software, cloud computing, and
          artificial intelligence solutions.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Salesforce</a></td>
        <td>
          Salesforce is a leading customer relationship management (CRM)
          software company, providing cloud-based applications for sales,
          service, marketing, and more.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Amazon Web Services (AWS)</a></td>
        <td>
          Amazon Web Services is a subsidiary of Amazon and offers a
          comprehensive suite of cloud computing services, including computing
          power, storage, and databases.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Facebook</a></td>
        <td>
          Facebook is a social media and technology company known for its social
          networking platform, as well as its acquisitions of Instagram and
          WhatsApp.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Netflix</a></td>
        <td >
          Netflix is a popular streaming service providing a vast collection of
          movies, TV shows, and original content to subscribers worldwide.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Intel Corporation</a></td>
        <td>
          Intel Corporation is a major semiconductor chip manufacturer,
          producing processors for computers, servers, and various electronic
          devices.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Adobe Inc.</a></td>
        <td>
          Adobe Inc. is well-known for its multimedia and creativity software,
          including Adobe Photoshop, Adobe Illustrator, Adobe Premiere Pro, and
          the Adobe Creative Cloud suite.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Uber Technologies Inc.</a></td>
        <td>
          Uber is a ride-sharing and food delivery technology company that
          operates through a mobile app, connecting users with drivers and
          restaurants.
        </td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">SAP SE</a></td>
        <td>SAP SE is a multinational software corporation that provides enterprise resource planning (ERP) solutions and business software applications.</td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">>VMware</a</td>
        <td>VMware is a leading company in virtualization and cloud computing technologies, offering software for data center management and virtualization solutions.</td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Tencent Holdings Ltd.</a></td>
        <td>Tencent is a Chinese technology conglomerate, known for its messaging app WeChat, online gaming, social media, and digital content services.</td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Intel</a></td>
        <td>Intel is a renowned semiconductor chip manufacturer, specializing in processors for computers, servers, and IoT devices.</td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">HP Inc.</a></td>
        <td>HP Inc. is a multinational information technology company offering personal computers, printers, and related products and services.</td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Cisco Systems</a></td>
        <td>Cisco Systems is a leading networking hardware company, providing networking solutions and equipment for data centers, enterprises, and service providers.</td>
      </tr>
      <tr>
        <td> <a href="./Questions.html">Siemens</a></td>
        <td>Siemens is a global technology conglomerate, offering a wide range of products and services in areas such as automation, electrification, and healthcare.</td>
      </tr>
    </div>
    </table>
</section>
    <script>
        function searchCompanies() {
          var input = document.getElementById("searchInput").value.toUpperCase();
          var table = document.querySelector("table");
          var rows = table.getElementsByTagName("tr");
  
          for (var i = 1; i < rows.length; i++) {
            var companyName = rows[i].getElementsByTagName("td")[0];
            if (companyName) {
              var textValue = companyName.textContent || companyName.innerText;
              if (textValue.toUpperCase().indexOf(input) > -1) {
                rows[i].style.display = "";
              } else {
                rows[i].style.display = "none";
              }
            }
          }
        }
      </script>
  </body>
</html>
