section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  }
  /* Apply a background color and text alignment to the h1 */
  /* Style the search input */
  #searchInput {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  tr th{
    text-align: center;
  }
  /* Style the table */
  table {
    max-width: 1000px; /* Adjust the width as needed */
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style table header (th) */
  th {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  /* Style table data (td) */
  td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style links within the table data (td a) */
  td a {
    text-decoration: none;
    color: #0074d9;
  }
  
  /* Add some spacing around the table */
  table tr:first-child {
    margin-top: 20px;
  }
  
  /* Hide table rows when searching */
  table tr.hide {
    display: none;
  }
  