<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarHub</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <script src="/scripts/script.js"></script>
</head>
<body>
  <header>
    <div class="nav container">
      <i class="bx bx-menu" id="menu-icon"></i>
      <a href="#" class="logo">Car<span>Hub</span></a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/parts">Parts</a></li>
        <li><a href="/blog" class="active">Blog</a></li>
      </ul>
      <i class="bx bx-search-alt" id="search-icon"></i>
      <div class="search-box container">
        <input type="search" name="" id="" placeholder="Search..." />
      </div>
    </div>
  </header>

  <section class="blog" id="blog">
    <div class="heading">
      <span>Blog & News</span>
      <h2>Our cars are always excellent.</h2>
      <p>Experience excellence with our exceptional range of vehicles, designed to meet your every driving need.</p>
    </div>

    <div class="blog-container container">
      <div class="box">
        <img src="/img/car1.jpg" alt="">
        <span>Feb 14 2023</span>
        <h3>How to get a Perfect Car at Low Price</h3>
        <p>Experience excellence with our exceptional range of vehicles, designed to meet your every driving need.</p>
        <a href="#" class="blog-btn">Read More <i class='bx bxs-right-top-arrow-circle'></i></a>
      </div>
      <div class="box">
        <img src="/img/car2.jpg" alt="">
        <span>Feb 14 2023</span>
        <h3>How to get a Perfect Car at Low Price</h3>
        <p>Experience excellence with our exceptional range of vehicles, designed to meet your every driving need.</p>
        <a href="#" class="blog-btn">Read More <i class='bx bxs-right-top-arrow-circle'></i></a>
      </div>
      <div class="box">
        <img src="/img/car3.jpg" alt="">
        <span>Feb 14 2023</span>
        <h3>How to get a Perfect Car at Low Price</h3>
        <p>Experience excellence with our exceptional range of vehicles, designed to meet your every driving need.</p>
        <a href="#" class="blog-btn">Read More <i class='bx bxs-right-top-arrow-circle'></i></a>
      </div>
    </div>
  </section>
</body>
</html>
