<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarHub</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <script src="/scripts/script.js"></script>
</head>
<body>
  <header>
    <div class="nav container">
      <i class="bx bx-menu" id="menu-icon"></i>
      <a href="#" class="logo">Car<span>Hub</span></a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/cars" class="active">Cars</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/parts">Parts</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <i class="bx bx-search-alt" id="search-icon"></i>
      <div class="search-box container">
        <input type="search" name="" id="" placeholder="Search..." />
      </div>
    </div>
  </header>

  <section>
    <section class="cars" id="cars">
      <div class="heading">
        <span>All Cars</span>
        <h2>We have all types of Cars</h2>
        <p>
          Explore our diverse selection of vehicles, from sleek sports cars to
          family-friendly SUVs, and find the perfect one for your needs.
        </p>
      </div>
      <div class="cars-container container">
        <% carsData.forEach(car => { %>
          <div class="box">
            <img src="<%img/car1%>" alt="<%=Audi%>">
            <h2><%= car.name %></h2>
          </div>
        <% }); %>
      </div>
    </section>
  </section>
</body>
</html>
