<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to Food Website</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="contact.html">Contact</a></li>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>

        </ul>
    </nav>
    <main>
        <h2>Delicious Food</h2>
        <p>Welcome to our food website. Explore our mouthwatering menu and learn more about our story.</p>
    </main>
    <footer>
        <p>&copy; 2023 Food Website</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
